@{
	ViewData["Title"] = "Users";
	Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


<div class="mini-header">
	<div class="header-elements">
	<i class="bi bi-arrow-left-circle-fill"></i>
	<h1>User List</h1>
	</div>
</div>