body {
    margin: 0;
    padding: 0;
   
}
*{
    color: white;
}
.account-container{
    background-image: url('../images/Login (1).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
   
    min-height: 100vh;
    padding: 2rem 0;
}
.logo{
    width: 350px;
    height: auto;
    position: absolute;
    top: 70px;
}
.account-box {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    padding: 30px;
    margin: 0 auto;
    width: 100%;
    margin-top: 50px !important;
    border-radius: 50px;
    max-width: 886px;
    height: auto;
    width: 100%;
    box-shadow: rgba(255, 255, 255, 1) 0px 1px 3px 0px, rgba(255, 255, 255, 1) 0px 0px 0px 1px;
}


.account-container {
    background-image: url('../images/Login (1).png');
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 300px;
    margin-bottom: 20px;
}

.account-box {
    width: 600px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 28px;
    backdrop-filter: blur(12px);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.register-box {
    margin-top: -50px;
    padding: 20px; 
    padding-right: 40px;
    padding-left: 40px;
    margin-right: 90px;
    width: 500px !important;
    height: 100%;
}

/* Title */
.account-box h2 {
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-bottom: 30px;
}


.form-control {
    background: rgba(255, 255, 255, 0.3);
    border: none !important;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 12px 18px;
    border-radius: 14px;
    height: 48px;
}

    .form-control::placeholder {
        color: #eaeaea;
    }



.form-check-label {
    color: white;
    font-size: 14px;

}

.text-center a {
    color: #d4e3ff;
    text-decoration: none;
}

.btn-login {
    height: 50px;
    font-size: 18px;
    font-weight: 800;
    background: blue !important;
    color: white !important;
    border-radius: 14px;
    border: none;
    margin-top: 10px;
}

    .btn-login:hover {
        opacity: 0.9;
    }

.account-box label {
    text-align: left !important;
    display: block;
    width: 100%;
    color: white; 
    margin-left: 5px; 
    font-weight: 500;
}

.fullName {
    display: flex;
    gap: 5px;
    width: 100%;
}



.group-two {
    display: flex;
    gap: 10px;
    width: 100%;
}

h2{
    font-size: 15px;
}

.logo {
    height: auto;
 
    margin-top: 100px;
    margin-left: 300px;
}

.field-validation-error {
    color: #ff3333 !important;
    font-size: 14px;
    text-align: left;
    font-weight: 600;
}

.input-validation-error {
    border: 1px solid #ff3333 !important;
    background-color: #ffe5e5;
}

.bi{
    cursor: pointer;
}







