html {
    font-size: 14px;
}

main {
    padding-top: 0 !important;
    margin-top: 0 !important;
}


body {
    background-color: #000F33;
    margin: 0 !important;
    padding: 0 !important;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

* {
    color: white !important;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.MenuBar {
    opacity: 0 !important;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    gap: 10px;
}

.dashboard {
    margin: 10px !important;
    left: 15px;
    font-size: 35px;
}

a {
    text-decoration: none;
    color: black;
}

.footer-elements {
    display: flex;
    flex-direction: column;
    align-items: center; /* centers items inside */
    gap: 10px;
}

.dropbtn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    margin-right: 5px;
}

.navbar {
    color: white !important;
    width: 100% !important;
    margin-bottom: 30%;
}



.navbar-brand {
    width: auto;
    height: 60px;
}

header {
    position: fixed !important;
    width: stretch !important;
    z-index: 999;
}

.nav-top {
    justify-content: end !important;
}

.navbar-nav {
    flex-direction: row-reverse !important;
}

.main-nav img {
    width: 25%;
    height: auto;
}

button {
    position: relative;
}


.allButton .bi {
    font-size: 60px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}


.dropdown-content {
    visibility: hidden;
}

.container-btn {
    max-width: 1300px !important;
    gap: 40px !important;
}

.menubar:hover {
    cursor: pointer;
}




.allButton {
    color: white !important;
    background-color: transparent !important;
    border: 1px solid #194EA3 !important;
    width: 200px;
    font-size: 20px;
    padding: 30px;
    border-radius: 10px;
    margin: 10px !important;
    margin-right: 20px !important;
    text-align: left;
    transition: 0.2s ease-in;
}

    .allButton:hover {
        transition: 0.3s ease-in-out;
        background-color: #194EA3 !important;
    }

.bi-list {
    font-size: 50px;
    margin-right: auto;
    left: 20px;
    position: absolute;
}

.setup {
    font-size: 25px;
    margin-left: 7px !important;
}

.footer-section {
    width: 100%;
    background-color: #010A1F !important;
    padding: 40px 20px;
    position: relative;
    padding-top: 200px !important;
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center; /* centers vertically */
    text-align: center;
    color: white;
}

    .footer-section img {
        width: 500px;
        height: auto;
        position: absolute;
        top: 50px;
        margin-bottom: 10px;
    }

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 35px 90px;
    width: 100%;
    margin-top: 35px;
}

.card-btn {
    margin-bottom: 10px;
    width: 150px !important;
    height: 150px !important;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    border: 1px solid #0D2A64;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    padding: 15px;
    text-align: left;
    color: white;
    font-family: Arial, sans-serif;
    cursor: pointer;
    overflow: hidden;
    backdrop-filter: blur(4px);
    flex-direction: column;
    justify-content: space-between;
}

    .card-btn:hover {
        background: rgba(255, 255, 255, 0.12);
    }

.label {
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 15px;
}

.icon {
    position: absolute;
    bottom: -30px;
    right: -4px;
    font-size: 85px;
    opacity: 0.9;
}

    .icon.demo {
        bottom: -35px;
        right: -4px;
        font-size: 75px;
    }



.activity, .reports, .setup {
    text-align: left !important;
    font-size: 32px;
    font-weight: 600;
    margin: 20px 0 20px 10px;
    width: 100%;
}

.side-bar {
    background-color: #0C1A37 !important;
    width: 90px;
    height: 650px;
    border-radius: 25px;
    position: absolute;
    padding: 10px;
    left: -15px;
    top: 70px;
}

.side-elements {
    margin: 10px !important;
    margin-left: 15px !important;
}

.icon-sidebar {
    display: block;
    font-size: 25px !important;
    margin-left: 15px !important;
    margin-bottom: 20px !important;
    margin: 10px auto;
}

.line {
    width: 34.5px !important;
    border-top: 2px solid white;
    opacity: 1;
    margin-left: 10px !important;
}

.logo-side {
    margin-left: 5px !important;
}

.settings {
    margin-top: 90px !important;
}

.icons {
    cursor: pointer;
}

.tooltip {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboardText {
    transition: all 0.2s ease;
    position: absolute;
    left: 80px;
    white-space: nowrap;
    top: 90px;
}



.navbar img {
    width: 200px;
    height: auto;
    margin-left: 40px;
}

.CalendarText {
    transition: all 0.2s ease;
    position: absolute;
    opacity: 0;
    left: 80px;
    white-space: nowrap;
    top: 130px;
}

.hoverCalendar:hover CalendarText {
    opacity: 1 !important;
}



.dashboardText {
    opacity: 0 !important;
    transition: 0.2s ease-in;
}

.hoverDashboard:hover {
    background: linear-gradient( to left, #082A61 70%, #016BF9 95% );
    border-radius: 10px;
    width: 50px;
    border-radius: 12px;
}

    .hoverDashboard:hover .dashboardText {
        opacity: 1 !important;
    }

.dashboard-hover {
    white-space: nowrap;
    color: white !important;
    padding: 5px;
    border-radius: 10px;
}

.tooltip-icon {
    position: relative;
    display: block;
}

    .tooltip-icon::after {
        content: attr(data-tooltip);
        position: absolute;
        left: 110%;
        top: 50%;
        transform: translateY(-50%);
        background: #333;
        color: #fff;
        padding: 4px 8px;
        font-size: 12px;
        border-radius: 4px;
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
        transition: 0.15s ease;
        z-index: 999;
    }

    .tooltip-icon::before {
        content: "";
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        border-width: 5px;
        border-style: solid;
        border-color: transparent #333 transparent transparent;
        opacity: 0;
        transition: 0.15s ease;
        z-index: 998;
    }

    .tooltip-icon:hover::after,
    .tooltip-icon:hover::before {
        opacity: 1;
    }

.navbar {
    background-color: #010A1F !important;
    padding: 15px;
    position: relative;
    top: 0;
    padding-bottom: 20px;
}

.list-items {
    font-size: 30px;
    margin-right: 100px;
    position: absolute;
    display: flex;
    right: 70px;
}

.search {
    margin-right: 15px;
}

.list-items img {
    width: 45px;
    height: auto;
}

.username {
    font-size: 15px;
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: bold;
}

.bi-chevron-down {
    margin-top: 5px !important;
    font-weight: bolder !important;
}

.background-login {
}

.current-page{
    font-weight: lighter;
    font-size: 20px;
    position: absolute;
    left: 200px;
    margin-left: 100px;
    margin-top: 15px;

}

.login-text{
    font-size: 20px;
    margin-right: 5px;
    margin: 10px;
}


.register-text {
    font-size: 20px;
    margin-right: 5px;
    margin: 10px;
}
